{% extends "layout.html" %} {% block content %}
    <form method="POST" action=" {{url_for('register')}}">
        {{ form.hidden_tag() }}
        <fieldset>
        <div class= "mb-3">
            {{ form.username.label(class="form-control-label") }}
            {% if form.username.errors %}
                {{ form.username(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.username.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.username(class="form-control form-control-lg") }}
            {% endif %}
        </div>
        <div class="mb-3">
            {{ form.email.label(class="form-control-label") }}
            {% if form.email.errors %}
                {{ form.email(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.email.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
        </div>
        {% else %}
            {{ form.email(class="form-control form-control-lg") }}
        {% endif %}
    </div>
    
    <div class="mb-3">
        {{ form.password.label(class="form-control-label") }}
        {% if form.password.errors %}
            {{ form.password(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.password.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% else %}
            {{ form.password(class="form-control form-control-lg") }}
        {% endif %}
    </div>
    
    <div class="mb-3">
        {{ form.confirm_password.label(class="form-control-label") }}
        {% if form.confirm_password.errors %}
            {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.confirm_password.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% else %}
            {{ form.confirm_password(class="form-control form-control-lg") }}
        {% endif %}
    </div>
    
            <div class="mb-3 d-flex align-items-center gap-4">

                <!-- Cache checkbox -->
                <div class="form-check">
                    {{ form.cache(class="form-check-input", id="cache_id") }}
                    <label class="form-check-label ms-2" for="cache_id">
                        {{ form.cache.label.text }}
                    </label>
                </div>

                <!-- Inline radio buttons -->
                <div style="background-color:#e66565;padding:5px 10px 5px 10px;width:120;border-radius:10px;",class="d-flex gap-3">
                    {% for subfield in form.post_user %}
                        <div class="form-check form-check-inline">
                            {{ subfield(class="form-check-input", id=subfield.id) }}
                            <label class="form-check-label" for="{{ subfield.id }}">
                                {{ subfield.label.text }}
                            </label>
                        </div>
                    {% endfor %}
                </div>

            </div>
    
    
    <div class="form-group">
        {{ form.submit(class="btn btn-primary") }}
    </div>
    </fieldset>
    <small>
    Already Have An Account?
    <a href="{{url_for('login')}}">LOGIN </a>
    </small>
    </form>

{% endblock content %}

